/vendor
*.DS_Store*
!.env.example
.env*
.vagrant/*
.vscode/*
storage/framework/*
!storage/framework/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/cache/data/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/app/.gitkeep
!storage/app/public/.gitkeep
!storage/logs/.gitkeep
/.idea
/nbproject
/.direnv

node_modules
*.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.yarn
public/assets/manifest.json

# Docker local-dev artifacts
.dockerignore
docker-compose.yml
docker-compose.yaml

# Misc build / test artifacts
misc
.php-cs-fixer.cache
coverage.xml
.phpunit.result.cache
resources/lang/locales.js

/public/build
/public/hot
result
